<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'client_orders' client_id=1 %}">Client Orders</a></li>
            <li><a href="{% url 'orders' %}">Orders</a></li>
            <li><a href="{% url 'product_table' %}">Product table</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
