<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Orders</title>
</head>
<body>
<h1>Customer Orders</h1>
<ul>
    {% for order in orders %}
    <li>
        <h2>Order #{{ order.order_number }}</h2>
        <p>Date: {{ order.date_ordered }}</p>
        <p>Total Price: ${{ order.total_price }}</p>
        <h3>Order Items</h3>
        <ul>
            {% for item in order.items.all %}
            <li>
                {{ item.product.prod_name }} - Quantity: {{ item.quantity }}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
</body>
</html>
