<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Orders</title>
</head>
<body>
    <h1>Customer Orders</h1>
    <ul>
        {% for order in orders %}
            <li>Order ID: {{ order.id }}</li>
            <ul>
                {% for item in order.items.all %}
                    <li>{{ item.product.name }} - {{ item.quantity }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</body>
</html>
