<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>{{ title }}</title>
</head>

<header>
    <h1>
        <a>"Horns and hooves market"</a>
    </h1>
</header>

<body>

    <h2>Description</h2>

    <div>

        <ul>
            {% for m in description %}
            <li>{{m}}</li>
            {% endfor %}
        </ul>
    </div>

        <h2>Something more</h2>

    <div>
        <ol>
            {% for m in something_more %}
            <li>{{m}}</li>
            {% endfor %}
        </ol>
    </div>

    <hr>

    <div>
        We love your money
    </div>
</body>

<footer>
    <nav>
        <a href="foots.html" target="_blank">Foots</a>
        <a href="jackets.html" target="_blank">Jackets</a>
        <a href="hats.html" target="_blank">Hats</a>
        <a href="pos.html" target="_blank">Piece of shit</a>
    </nav>
    &copy;2024
</footer>

</html>