<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>{{ title }}</title>
</head>

<body>
    <div>
        <header>
            <h1>Buy our jackets</h1>
        </header>
    </div>
</body>

<footer>
    <nav>
        <a href="index.html" target="_blank">Main</a>
        <a href="hats.html" target="_blank">Hats</a>
        <a href="foots.html" target="_blank">Foots</a>
        <a href="pos" target="_blank">Piece of shit</a>
    </nav>
    &copy;2024
</footer>

</html>