<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>
        {% block title %}
        My site
        {% endblock %}
    </title>
</head>
<body>
<div class="container-fluid">
    <ul class="nav nav-pills justify-content-end align-items-end">
        <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link">Main</a></li>
        <li class="nav-item"><a href="{{ url_for('data') }}" class="nav-link">Data</a></li>
    </ul>

    {% block content %}
    Page is empty
    {% endblock %}

    <div class="row fixed-bottom modal-footer">
        <hr>
        <p>All rights reserved (c)</p>
    </div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>